	<!-- WRAPPER -->
		<div id="wrapper">
			
			<!-- REVOLUTION SLIDER -->
			<div class="fullwidthbanner-container roundedcorners">
				<div class="fullwidthbanner">
					<ul>	
						<li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
							<img src="assets/components/images/dummy.png" alt="OVHH" data-lazyload="assets/components/images/SS_HomeHealthCarousel_Med.jpg" data-fullwidthcentering="on">
							<div class="tp-caption medium_text lft"
							data-x="90" 
							data-y="180"
							data-speed="300" 
							data-start="500" 
							data-easing="easeOutExpo">Home Health
							</div>

							<div class="tp-caption large_text lfb"
							data-x="90" 
							data-y="222"
							data-speed="300" 
							data-start="800" 
							data-easing="easeOutExpo"> Quality medical services
							</div>

							<div class="tp-caption lfb"
							data-x="90" 
							data-y="330"
							data-speed="300" 
							data-start="1100" 
							data-easing="easeOutExpo">
							<!--(Future use, when Contact Us Page is ready) <a href="#" target="_blank" class="btn btn-primary btn-lg">Contact Us</a>-->
							</div>
						</li>
						<li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
							<img src="assets/components/images/dummy.png"  alt="OVHC" data-lazyload="assets/components/images/SS_HomeCareCarousel_Med.jpg" data-fullwidthcentering="on">
							<div class="tp-caption medium_text lft"
							data-x="90" 
							data-y="180"
							data-speed="300" 
							data-start="500" 
							data-easing="easeOutExpo">Home Care 
							</div>

							<div class="tp-caption large_text lfb"
							data-x="90" 
							data-y="222"
							data-speed="300" 
							data-start="800" 
							data-easing="easeOutExpo">Ensure your needs are<br /> met while retaining your independence
							</div>

							<div class="tp-caption lfb"
							data-x="90" 
							data-y="330"
							data-speed="300" 
							data-start="1100" 
							data-easing="easeOutExpo">
							<!--<a href="#/HomeCareHome" target="_blank" class="btn btn-primary btn-lg">Learn More</a>-->
							</div>
						</li>
						<li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
							<img src="assets/components/images/dummy.png"  alt="SrLink" data-lazyload="assets/components/images/SS_SrLinkCarousel_Med.jpg" data-fullwidthcentering="on">
							<div class="tp-caption medium_text lft"
							data-x="90" 
							data-y="180"
							data-speed="300" 
							data-start="500" 
							data-easing="easeOutExpo">Adult Day Services
							</div>

							<div class="tp-caption large_text lfb"
							data-x="90" 
							data-y="222"
							data-speed="300" 
							data-start="800" 
							data-easing="easeOutExpo">A fun and safe place<br /> for your loved ones
							</div>

							<div class="tp-caption lfb"
							data-x="90" 
							data-y="330"
							data-speed="300" 
							data-start="1100" 
							data-easing="easeOutExpo">
							<!--<a href="#/SrLinkHome" target="_blank" class="btn btn-primary btn-lg">Learn More</a>-->
							</div>
						</li>
						
					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<section class="container text-center">
				<h1 class="text-center">
					Ohio Valley Home Health Services
					<span class="subtitle">Medicare & Medicaid Certified</span>
				</h1>
				<p class="lead">We are committed to providing quality health care essential to the	improvement of physical, mental, and social	conditions of patients and their families within our service area. 
				</p>
			</section>


			<div class="container">
				<hr class="half-margins" /><!-- hr line -->
			</div>


			<!-- ONE NATION -->
			<section class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>Why OVHHS?</h2>
						<p>
							<h4>Commitment:</h4>
							OVHHS is committed to providing high quality home care services to patients and their families that meets the needs of the patient while ensuring cost-effective delivery of services.
							<br /><br />
							<h4>Principles:</h4>
							OVHHS is committed to preserving dignity, encouraging independence, showing respect to all, enabling freedom of choice and embracing diversity.
							<br /><br />
							<h4>Values:</h4>
							Provide excellent service<br />
							Show Respect to ALL<br />
							Embrace Diversity<br />
							Ensure Freedom of Choice
						</p>
						<!--<h4>Opening Hours</h4>-->
						<!--<div class="row">-->
						<!--	<div class="col-md-4">-->
						<!--		Monday - Friday <br />-->
						<!--		Saturday <br />-->
						<!--		Sunday <br />-->
						<!--	</div>-->
						<!--	<div class="col-md-4">-->
						<!--		 8:00a - 5:00p<br />-->
						<!--		 On Call<br />-->
						<!--		 On Call<br />							-->
						<!--	</div>-->
						<!--</div>-->
					</div>

					<div class="col-md-6">

						<!-- carousel -->
						<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1,"singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
							<div>
								<img alt="" class="img-responsive" src="assets/components/images/SS_OVHH_CoreSlider.jpg">
							</div>
							<div>
								<img alt="" class="img-responsive" src="assets/components/images/SS_OVHH_CoreSlider2.jpg">
							</div>
							<div>
								<img alt="" class="img-responsive" src="assets/components/images/SS_OVHH_CoreSlider3.jpg">
							</div>
						</div>
						<!-- /carousel -->

					</div>
				</div>
			</section>
			<!-- /ONE NATION -->


			<div class="divider"><!-- divider -->
				<i class="fa fa-leaf"></i>
			</div>
			<section class="container text-center">
				<h1 class="text-center">
					What we can do for you
					<span class="subtitle"></span>
				</h1>
				<p class="lead">OVHHS is a team of professional Registered Nurses, Licensed Practical Nurses, Physical Therapists and Assistants, Occupational Therapists and Assistants, Speech Therapists, and Medical Social Workers to meet your skilled service needs. All of our staff members are ready to assist you in becoming independent in your home.</p>
			</section>

			<section class="container">
				<div class="row text-center">

					<div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
						<figure>
							<img class="img-responsive" src="assets/components/images/SS_BottomGrid_Surgery.jpg" alt="Surgery" />
						</figure>

						<h3>Surgery Recovery</h3>
						<!--<p>Duis mollis, est non commodo luctus, nis erat po rttitor ligula, eget lacinia odio sem nec elit.Cras m attis consectetur purus sit amet.</p>-->
						<!--<a href="#" class="btn btn-primary btn-xs">READ MORE</a>-->
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
						<figure>
							<img class="img-responsive" src="assets/components/images/SS_BottomGrid_WoundCare2.jpg" alt="WoundCare" />
						</figure>

						<h3>Wound Care Management</h3>
						<!--<p>Duis mollis, est non commodo luctus, nis erat po rttitor ligula, eget lacinia odio sem nec elit.Cras m attis consectetur purus sit amet.</p>-->
						<!--<a href="#" class="btn btn-primary btn-xs">READ MORE</a>-->
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
						<figure>
							<img class="img-responsive" src="assets/components/images/SS_BottomGrid_PhysicalTherapy.jpg" alt="PhysicalTherapy" />
						</figure>

						<h3>Physical Therapy</h3>
						<!--<p>Duis mollis, est non commodo luctus, nis erat po rttitor ligula, eget lacinia odio sem nec elit.Cras m attis consectetur purus sit amet.</p>-->
						<!--<a href="#" class="btn btn-primary btn-xs">READ MORE</a>-->
					</div>

				<!--</div>-->
			<!--</section>-->
			<!--	<section class="container">-->
				<!--<div class="row text-center">-->

					<div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
						<figure>
							<img class="img-responsive" src="assets/components/images/SS_BottomGrid_PainMed.jpg" alt="Pain Management" />
						</figure>

						<h3>Pain/Med Assistance</h3>
						<!--<p>Duis mollis, est non commodo luctus, nis erat po rttitor ligula, eget lacinia odio sem nec elit.Cras m attis consectetur purus sit amet.</p>-->
						<!--<a href="#" class="btn btn-primary btn-xs">READ MORE</a>-->
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
						<figure>
							<img class="img-responsive" src="assets/components/images/SS_BottomGrid_Respiratory.jpg" alt="Respiratory Education" />
						</figure>

						<h3>Respiratory Education</h3>
						<!--<p>Duis mollis, est non commodo luctus, nis erat po rttitor ligula, eget lacinia odio sem nec elit.Cras m attis consectetur purus sit amet.</p>-->
						<!--<a href="#" class="btn btn-primary btn-xs">READ MORE</a>-->
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
						<figure>
							<img class="img-responsive" src="assets/components/images/SS_BottomGrid_Diabetic.jpg" alt="And so much more" />
						</figure>

						<h3>Diabetic Management</h3></h3>
						<!--<p> Medication Management, Ostomy Care/Management, Cardiac Care Including CHF, Pulmonary Disease Care, Including, COPD, Fall Prevention, Ortho-Rehabilitation at Home, Personal Care Assistance, IV Therapy Administration, Teaching, Post-Stroke Rehabilitation</p>-->
						<!--<a href="#" class="btn btn-primary btn-xs">READ MORE</a>-->
					</div>

				</div>
			</section>

		<!-- REVOLUTION SLIDER -->
		<script src="assets/components/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/components/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/components/js/slider_revolution.js"></script>
		<script src="assets/components/js/scripts.js"></script>
		
		</div>
		<!-- /WRAPPER -->
